// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table {
  .id {
    width: 40px;
  }

  .control {
    width: 140px;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}

.right {
  float: right;
}

.no-margin {
  margin: 0;
}
