// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "loader";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.horizontal-line {
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.table {
  .id {
    width: 40px;
  }

  .control {
    min-width: 135px;
    width: 140px;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }

  .name {
    min-width: 200px;
  }
}

.right {
  float: right;
}

.no-margin {
  margin: 0;
}

select.form-control.is-invalid {
  background-position: right calc(1em + 0.1875rem) center;
}
